body {
     width: 100%;
     margin: 0 auto;
}


button {
     background-color: #3882f6;
     color: #f9faf8;
     border-radius: 5px;
     font-size: 24px;
     margin: 0 70px;
     padding: 0px 70px;
}

a {
     text-decoration: none;
     color: #e5e7eb;
}

h1 {
     font-size: 48px;
     font-weight: extra-bold;
     color: #f9faf8;
     width: 50%;
     padding: 0 70px;
}

h2 {
     font-size: 18px;
     color: #e5e7eb;
     width: 50%;
     padding: 0px 70px;
}

h3 {
     font-size: 36px;
     font-weight: extra-bold;
     color: #1f2937;
     width: 100%;
     text-align: center;
}

li {
     display: inline;
     font-size: 18px;
     padding: 50px;
}

.column1, .column2, .column3, .column4 {
     display: flex;
     flex-direction: row;
     font-size: 18px;
     width: 25%;
     margin: 1%;
     box-sizing: border-box;
     height: 100px;
     width: 25%;
     
}
.heroimg {
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     background-color: darkcyan;
     background-image: url('searchicon.png');
     background-position: 10px 10px;
     background-repeat: no-repeat;
     height: 75%;
     width: 25%;
     margin: 25px;
     padding: 12px 20px 12px 40px;
}

#content {
     display: flex;
     justify-content: center;
     flex-direction: row;
     background-color: #1f2937;
     width: 100%;
     padding: 25px 70px;
}

#header {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: #1f2937;
     color: #f9faf8;
     font-size: 24px;
     padding: 25px 70px;
}

#information {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 25px 70px;
}