body {
     width: 90%;
     margin: 0 auto;
}

#content {
     overflow: auto;
}

#header {
     width: 100%;
     display: flex;
     flex-direction: row;
     wrap: nowrap;
     justify-content: space-between;
     background-color: #1f2937;
}

li {
     display: inline;
     padding: 15px;
     font-size: 18px;
}

a {
     text-decoration: none;
     color: #e5e7eb;
}