body {
     width: 100%;
     margin: 0 auto;
}

.heroimg {
     box-sizing: border-box;
     height: 100px;
     width: 100px;
     padding: 15px;
}

button {
     background-color: #3882f6;
     border-radius: 5px;
}

#content {
     display: flex;
     justify-content: space-around;
     flex-flow: row;
     overflow: auto;
     background-color: #1f2937;
     width: 100%;
     padding: 25px;
}

#header {
     width: 100%;
     display: flex;
     flex-direction: row;
     wrap: nowrap;
     justify-content: space-around;
     background-color: #1f2937;
     color: #f9faf8;
     font-size: 24px;
     padding: 25px;
}


li {
     display: inline;
     padding: 50px;
     font-size: 18px;
}

a {
     text-decoration: none;
     color: #e5e7eb;
}

h1 {
     font-size: 48px;
     font-weight: extra-bold;
     color: #f9faf8;
     width: 50%;
     justify-content: space-around;
}

h2 {
     font-size: 18px;
     color: #e5e7eb;
     width: 50%;
}